.footer{
	display: grid;
	margin: 10px 0 0 0;
	position: relative;
	bottom: 0px;
	width: 100%;
	grid-area: footer;
	font-weight: 700;
    font-size: 12px;
}

@media (min-height: 600px){
	.footer{
		position: relative;
		bottom: 0px;
		width: 100%;
	}
}