.navbar{
   background-color: #fff;
   border-bottom: 2px solid rgba(0,0,0,.975);
   height: 77px;
}

.main-img{
   width: 150px;
}

.explore-icon{
   height: 30px;
   width: 50px;
}

.notification-icon{
   height: 30px;
   width: 50px;
}

.profile-icon{
    height: 30px;
    width: 50px;
}

