 .landing-left{
   .dummy-phone{
      background-image: url("../images/log_in_page/dummy-phone.png");
      background-repeat: no-repeat;
      background-size: 373px 625px;
      position: relative;
      height: 618px;
      margin-left: -45px;
      margin-right: -15px;
   }

 .screenshot{
   position: absolute;
   top: 85px;
   left: 108px;

   .item{
      position: absolute;
   }
 }
 .carousel-item{
   max-height: 427px;
   max-width: 240px;
 }
}

.landing-right{
  .box{
    background-color: #fff;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 10px;
    width: 350px;
  }

  .form-control{
    width: 100%;
  }

  .btn-outline-success{
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }

  .btn-outline-secondary{
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
  }

}