<div class="row actions">
	<%= link_to image_pack_tag('posts/heart.svg', class: 'post-heart-icon'), '#', class: "col-sm-1"%>
	<%= link_to image_pack_tag('posts/comment.svg', class: 'post-comment-icon'), '#', class: "col-sm-1"%>
	<div class="col-sm-9"></div>
	<%= link_to image_pack_tag('posts/bookmark.svg', class: 'post-bookmark-icon'), '#', class: "col-sm-1"%>
</div>
<div>
	<strong><%= pluralize(16, "Like") %></strong>
</div>	